<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174059395330-4ipgchvd8b2n8ha2vg0t3nb3d65trccm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174059395330-4ipgchvd8b2n8ha2vg0t3nb3d65trccm</string>
	<key>API_KEY</key>
	<string>AIzaSyClgo5mer3yvzAiGFLwUcPonr_xTojx1tY</string>
	<key>GCM_SENDER_ID</key>
	<string>174059395330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NessrineHafi.Arabian-Business</string>
	<key>PROJECT_ID</key>
	<string>arabianbusiness-62bf7</string>
	<key>STORAGE_BUCKET</key>
	<string>arabianbusiness-62bf7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174059395330:ios:aae1fdb17e657a74</string>
	<key>DATABASE_URL</key>
	<string>https://arabianbusiness-62bf7.firebaseio.com</string>
</dict>
</plist>